body {
    background: #e0e0e0;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
}


ul,body{
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
li{
    list-style: none;
}
#page,header,footer{
    max-width: 1200px;
    margin: 0px auto 15px auto;
    
}
header,footer{
    display: flex;
    align-items: center;
    padding: 15px;
    background: #2a2c30;
    color: #7e8b94;
}
header img{
    margin: 0 15px 0 0;
}

header nav{
    width: 100%;
    margin: auto;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;

}
.login,.social-links {
    display: flex;
    align-items: center;
}
.login a{
    color: #7e8b94;
    margin: 4px;
    padding: 8px 4px;
    font-size: 16px;
    display: block;
}

#main-menu li a{
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 8px;
    display: block;    
    font-size: 20px;    
}
#main-menu li a:hover,
footer nav li a:hover{
    color: #f4791d;
}
footer{
    align-items: flex-end;
    margin: 0px auto;
}
footer nav {
    padding-right: 20px;
    width: 15%;
}
footer nav li a{
    color: white;
    text-decoration: none;
    font-size: 12px; 
}
.social-links{
    margin-left: auto;
}
.social-links img{
    width: 40px;
    margin-left: 10px;
}
.product img{
    width: 150px;
}
#page{
    display: flex;
    justify-content: space-between;
}
aside,main{    
    background: white;
}
aside{
    width: 20%;      
}
main{
    width: 78%; 
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}
main .product{
    width: 20%;  /*187px*/  
    padding: 10px;
    margin-bottom: 10px;
    min-width: 187px;
}
.product h2{
    font-size: 13px;
}
.product h2 a{
    color: black;
    text-decoration: none;
}
.product h2 a:hover{
    text-decoration: underline;
}
.product .price{
    color: #f84147;
}
.product-img{
    display: block;
    text-align: center;
} 
.product-wrapper {
    background: #e0e0e0;
    padding: 10px;
    border-radius: 4px;
}
button{    
    color: #4c80ac;
    font-weight: bold;
    border-radius: 4px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    margin-left: auto;  
    outline: none;
    border: none;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.12), inset 0 -2px 0 0 rgba(0,0,0,0.17);
    background-image: linear-gradient(to top, #f9f9f9, #fff),linear-gradient(to bottom, #fff, #fff);
}

/*button:active {
   
}*/
.product-price-cart{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 15px;
}
.availability{
    color: #00a046;
    font-size: 12px;
}

@media (max-width: 720px){
    header,.social-links{ 
        flex-direction: column;
    }
    header nav ul{
        flex-direction: column;        
    }
    header nav,footer nav {
        width: auto;     
    }
    header img{
        margin: 0 0 15px 0;
    }
    main .product {
        width: 100%;
    }
    footer {
        align-items: flex-start;
    }
}
