body {
    background: #fafafa;
    font-family: Helvetica,Arial,sans-serif;
}


ul,body{
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
li{
    list-style: none;
}
header,footer{
    max-width: 1200px;
    margin: 0px auto 15px auto;
    display: flex;
    align-items: center;
    padding: 15px;
    background: #2a2c30;
    color: #7e8b94;
}
header img{
    margin: 0 15px 0 0;
}

header nav{
    width: 100%;
    margin: auto;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;

}
.login,.social-links {
    display: flex;
    align-items: center;
}
.login a{
    color: #7e8b94;
    margin: 4px;
    padding: 8px 4px;
    font-size: 16px;
    display: block;
}

#main-menu li a{
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 8px;
    display: block;    
    font-size: 20px;    
}
#main-menu li a:hover,
footer nav li a:hover{
    color: #f4791d;
}
footer{
    align-items: flex-end;
    margin: 0px auto;
}
footer nav {
    padding-right: 20px;
    width: 15%;
}
footer nav li a{
    color: white;
    text-decoration: none;
    font-size: 12px; 
}
.social-links{
    margin-left: auto;
}
.social-links img{
    width: 40px;
    margin-left: 10px;
}

@media (max-width: 720px){
    header,.social-links{ 
        flex-direction: column;
    }
    header nav ul{
        flex-direction: column;        
    }
    header nav,footer nav {
        width: auto;     
    }
    header img{
        margin: 0 0 15px 0;
    }
    footer {
        align-items: flex-start;
    }
}
