body {
    background: #fafafa;
    font-family: Helvetica,Arial,sans-serif;
}


ul,body{
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
li{
    list-style: none;
}
header{
    max-width: 1200px;
    margin: 0px auto 15px auto;
    display: flex;
    align-items: center;
    padding: 15px;
    background: #2a2c30;
    color: #7e8b94;
}
header img{
    margin: 0 15px 0 0;
}

header img{
    width: 200px;
}
header nav{
    width: 100%;
    margin: auto;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;

}
.login {
    display: flex;
    align-items: center;
}
.login a{
    color: #7e8b94;
    margin: 4px;
    padding: 8px 4px;
    font-size: 16px;
    display: block;
}

#main-menu li a{
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 8px;
    display: block;    
    font-size: 20px;    
}
#menu-nav li a:hover{
    background: royalblue;
    color: white;
}

@media (max-width: 720px){
    header{ 
        flex-direction: column;
    }
    header nav ul{
        flex-direction: column;        
    }
    header nav {
        width: auto;     
    }
    header img{
        margin: 0 0 15px 0;
    }
}
